Workflow/Meeting Automation.json
{
  "name": "Meeting Automation",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -448,
        -16
      ],
      "id": "ece52803-9f07-4e1e-ad65-caf555c3e0ce",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "saranytperiyasamy@gmail.com",
          "mode": "list",
          "cachedResultName": "saranytperiyasamy@gmail.com"
        },
        "returnAll": true,
        "timeMin": "={{ $now.minus({ days: 7 }) }}",
        "timeMax": "={{ $now.plus({ days: 7 }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        496,
        -128
      ],
      "id": "929daaae-b1c1-447c-8da4-a5b96314a650",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "ExNTwzT14sKhUE6k",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ ($json.sender || \"\").match(/<(.+?)>/)?.[1] }}",
        "subject": "={{ $json.subject }}",
        "message": "=<div style=\"font-family: Arial, Helvetica, sans-serif; font-size:14px; color:#333; line-height:1.6; max-width:600px; margin:auto;\">\n\n<p>Hello,</p>\n\n<p>Thank you for your meeting request. Based on our current calendar availability, the following time slots are available.</p>\n\n<p>\n<strong>Subject:</strong> {{ $json.subject }}<br>\n<strong>Category:</strong> {{ $json.category }}<br>\n<strong>Priority:</strong> {{ $json.urgency }}\n</p>\n\n<p><strong>Available Meeting Slots:</strong></p>\n\n<ul>\n<li><b>Reply with slot 1</b> — {{ $json.slots[0] }}</li>\n<li><b>Reply with slot 2</b> — {{ $json.slots[1] }}</li>\n<li><b>Reply with slot 3</b> — {{ $json.slots[2] }}</li>\n<li><b>Reply with slot 4</b> — {{ $json.slots[3] }}</li>\n</ul>\n\n<p>Please reply to this email with the slot number you prefer. For example:</p>\n\n<p><b>slot 2</b></p>\n\n<p>If none of these times work for you, feel free to suggest another suitable time.</p>\n\n<br>\n\n<p>Best regards,<br>\n<strong>AI Meeting Assistant</strong><br>\nScheduling Automation System</p>\n\n<hr style=\"border:none;border-top:1px solid #ddd;margin-top:20px\">\n\n<p style=\"font-size:12px;color:#777;\">\nThis is an automated message generated by the meeting scheduling system.\n</p>\n\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        848,
        -64
      ],
      "id": "eed182b7-9e02-4c36-b0fd-c05ddc3abd23",
      "name": "Send a message",
      "webhookId": "74051b21-6ef2-42a8-9d16-cdc780ec8eec",
      "credentials": {
        "gmailOAuth2": {
          "id": "zV8VYoFny4ZEJqOv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        640,
        64
      ],
      "id": "3817a489-fcbd-43af-a290-a586fe5328a5",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const suggestions = [];\nconst now = new Date();\n\nfor (let i = 1; i <= 2; i++) {\n  const date = new Date(now);\n  date.setDate(now.getDate() + i);\n\n  const slot1 = new Date(date);\n  slot1.setHours(11, 0, 0);\n\n  const slot2 = new Date(date);\n  slot2.setHours(15, 0, 0);\n\n  suggestions.push(slot1.toLocaleString());\n  suggestions.push(slot2.toLocaleString());\n}\n\nreturn [\n{\n  json: {\n    ...$json,\n    slots: suggestions\n  }\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        -48
      ],
      "id": "76ebea05-87c8-4342-bb75-b6164f446ee2",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: $input.item.json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -128
      ],
      "id": "49240d9c-0f42-4c75-a4e4-9c0b942f0b8b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "meetings",
          "mode": "list",
          "cachedResultName": "meetings"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "threadid": "={{$json.threadId}}",
            "sender": "={{$json.sender}}",
            "slot1": "={{$json.slots[0]}}",
            "slot2": "={{$json.slots[1]}}",
            "slot3": "={{$json.slots[2]}}",
            "slot4": "={{$json.slots[3]}}",
            "status": "pending"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "threadid",
              "displayName": "threadid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slot1",
              "displayName": "slot1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slot2",
              "displayName": "slot2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slot3",
              "displayName": "slot3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "slot4",
              "displayName": "slot4",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        128,
        128
      ],
      "id": "cc3eda81-f5bc-461f-b684-e1380e42650e",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "53bbYTucDwNeS1GT",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "00d0eaed-bbca-4df7-87eb-66b5cb3f0bb5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf9d72f36111bb903d1ee974b63baf55a218b453dc6cd0a4bb6955dab1bd41c6"
  },
  "id": "Y69YTtWGf1hXoleV",
  "tags": []
}