Workflow/My workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "labelIds": "={{ [\"INBOX\"] }}",
          "readStatus": "unread"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -512,
        -16
      ],
      "id": "a9fcfab8-7b23-4e78-84a0-14878ac4d090",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "zV8VYoFny4ZEJqOv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  json: $json\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        -160
      ],
      "id": "30dcba46-571d-4c4c-8e93-171180c983c4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "emails",
          "mode": "list",
          "cachedResultName": "emails"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "processed": false,
            "message_id": "={{$node[\"Code in JavaScript\"].json.message_id}}",
            "sender": "={{$node[\"Code in JavaScript\"].json.sender}}",
            "subject": "={{$node[\"Code in JavaScript\"].json.subject}}",
            "body": "={{$node[\"Code in JavaScript\"].json.body}}",
            "category": "={{$node[\"Code in JavaScript\"].json.category}}",
            "urgency": "={{$node[\"Code in JavaScript\"].json.urgency}}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "urgency",
              "displayName": "urgency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed",
              "displayName": "processed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        576,
        -192
      ],
      "id": "41d30b2b-a7e4-44e4-a478-613213c92591",
      "name": "Insert rows in a table",
      "alwaysOutputData": false,
      "credentials": {
        "postgres": {
          "id": "53bbYTucDwNeS1GT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "emails",
          "mode": "list",
          "cachedResultName": "emails"
        },
        "where": {
          "values": [
            {
              "column": "message_id",
              "value": "={{$json.message_id}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        176,
        -368
      ],
      "id": "a068d25b-1766-4697-b3d4-e6a9f9917d75",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "53bbYTucDwNeS1GT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "956fc8e5-9669-4e27-a7ec-9ec4e0ef79d6",
              "leftValue": "={{$json.id}}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        -288
      ],
      "id": "3f5ffd25-6292-469a-a358-fe3e040dfc12",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "7359615703",
        "text": "=🚨 High Priority Email Alert\n\nSender: {{$json.sender}}\nSubject: {{$json.subject}}\n\nCategory: {{$json.category}}\nUrgency Level: {{$json.urgency}}\n\nMessage Preview:\n{{$json.body}}\n\nPlease review and take necessary action at the earliest.",
        "additionalFields": {
          "parse_mode": "=Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        -256
      ],
      "id": "f6a09982-aa70-45b0-a639-3fbecaaa63e0",
      "name": "Send a text message",
      "webhookId": "a5651770-45bf-408e-aa50-7a4151e8a13a",
      "credentials": {
        "telegramApi": {
          "id": "3Sz3nRY9bJX5LoTJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{$json.category.toLowerCase()}}",
                    "rightValue": "meeting",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bb9e448c-ef78-4316-872e-f973cd61bd2b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2fecb8f7-8376-47a3-90a1-a1d129bcea85",
                    "leftValue": "={{$json.category.toLowerCase()}}",
                    "rightValue": "high",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "da4b2215-d0a7-4f82-989b-e590d51105ec",
                    "leftValue": "={{$json.category.toLowerCase()}}",
                    "rightValue": "task",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "aee2198a-6a0b-4de8-9c8d-987858f629fc",
                    "leftValue": "={{$json.category.toLowerCase()}}",
                    "rightValue": "job",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1056,
        -192
      ],
      "id": "9bb40045-98a0-45e7-b376-37dfe9ee5bd0",
      "name": "Switch"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Y69YTtWGf1hXoleV",
          "mode": "list",
          "cachedResultUrl": "/workflow/Y69YTtWGf1hXoleV",
          "cachedResultName": "Meeting Automation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": "={{ true }}"
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1280,
        -448
      ],
      "id": "b13620a6-ef48-4021-a7a5-cc9d4a10bdda",
      "name": "Call 'Meeting Automation'"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        64
      ],
      "id": "69268606-a15a-4e3d-a2d3-772dc319e5dc",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "const gmailData = $json;\n\nconst subject = (gmailData.Subject || gmailData.subject || \"\").toLowerCase();\nconst body = (gmailData.snippet || gmailData.text || \"\").toLowerCase();\n\nconst text = subject + \" \" + body;\n\nlet category = \"informational\";\nlet urgency = \"low\";\n\n// 🔥 JOB detection (HIGHEST priority)\nif (\n  text.includes(\"resume\") ||\n  text.includes(\"cv\") ||\n  text.includes(\"job application\") ||\n  text.includes(\"apply\") ||\n  text.includes(\"position\") ||\n  text.includes(\"hiring\")\n) {\n  category = \"job\";\n}\n\n// 📅 MEETING detection (BEFORE TASK)\nelse if (\n  text.includes(\"meeting\") ||\n  text.includes(\"schedule\") ||\n  text.includes(\"call\") ||\n  text.includes(\"zoom\")\n) {\n  category = \"meeting\";\n}\n\n// 📝 TASK detection\nelse if (\n  text.includes(\"prepare\") ||\n  text.includes(\"submit\") ||\n  text.includes(\"complete\") ||\n  text.includes(\"finish\") ||\n  text.includes(\"assignment\") ||\n  text.includes(\"report\") ||\n  text.includes(\"project\")\n) {\n  category = \"task\";\n}\n\n// 🚨 URGENCY detection\nif (\n  text.includes(\"urgent\") ||\n  text.includes(\"asap\") ||\n  text.includes(\"immediately\")\n) {\n  urgency = \"high\";\n}\nelse if (\n  text.includes(\"soon\") ||\n  text.includes(\"by today\") ||\n  text.includes(\"by tomorrow\")\n) {\n  urgency = \"medium\";\n}\n\n// 📩 sender\nconst sender =\n  gmailData.From ||\n  gmailData.from?.text ||\n  \"unknown\";\n\nreturn [{\n  json: {\n    message_id: gmailData.id,\n    threadId: gmailData.threadId,\n    sender: sender,\n    subject: gmailData.Subject || gmailData.subject,\n    body: gmailData.snippet || gmailData.text,\n    category: category,\n    urgency: urgency,\n    processed: false\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -288,
        -160
      ],
      "id": "c86e8b4d-ffa4-4823-966b-77f7bcdbd754",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const text = ($json.body || \"\").toLowerCase();\n\nlet title = text;\nlet deadline = \"\";\nlet assignee = $json.sender;\n\n// Extract deadline (day or keyword)\nconst deadlineMatch = text.match(\n  /\\b(monday|tuesday|wednesday|thursday|friday|saturday|sunday|tomorrow|today|next week)\\b/\n);\n\nif (deadlineMatch) {\n  deadline = deadlineMatch[0];\n}\n\n// Clean title (remove extra phrases if needed)\ntitle = text.replace(/please|kindly|hi|hello/gi, \"\").trim();\n\nreturn {\n  json: {\n    title: title,\n    deadline: deadline,\n    assignee: assignee,\n    sender: $json.sender\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        -64
      ],
      "id": "30b6f185-6e0a-4468-9fe9-5f1e7feb8a99",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{$json.title}}",
            "deadline": "={{ $json.deadline }}",
            "assignee": "={{ $json.assignee }}",
            "sender": "={{ $json.sender }}",
            "status": "pending"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "deadline",
              "displayName": "deadline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "assignee",
              "displayName": "assignee",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender",
              "displayName": "sender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1504,
        -64
      ],
      "id": "e0d389f6-6a0a-47f3-bf1b-ebe86937f2d9",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "53bbYTucDwNeS1GT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{$json.sender.match(/<(.*?)>/)?.[1] \n\n $json.sender}}",
        "subject": "Task Received Sucessfully",
        "message": "={{\n`\n<div style=\"font-family: Arial; max-width:600px; margin:auto; padding:20px; border:1px solid #eee; border-radius:10px;\">\n\n<h2 style=\"color:#28a745;\">Task Acknowledged ✅</h2>\n\n<p>Hello,</p>\n\n<p>Your request has been received.</p>\n\n<p><strong>Task:</strong> ${$json.title}</p>\n<p><strong>Deadline:</strong> ${$json.deadline || \"Not specified\"}</p>\n\n<p>I will complete the task within the given deadline.</p>\n\n<br>\n\n<p>Best regards,<br>\nAI Assistant</p>\n\n</div>\n`\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1792,
        -160
      ],
      "id": "30a3b45a-c30f-43f9-b54f-c764916a8d2b",
      "name": "Send a message",
      "webhookId": "ad59dc90-5eb2-4a89-8594-35d9c12e0740",
      "credentials": {
        "gmailOAuth2": {
          "id": "zV8VYoFny4ZEJqOv",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7359615703",
        "text": "={{\n`\n New Task Assigned\n\n From: ${$json.sender}\n Task: ${$json.title}\n Deadline: ${$json.deadline || \"Not specified\"}\n\nStatus: Pending\n`\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1792,
        32
      ],
      "id": "d236be00-2626-44b6-bc6d-cfa47b663c62",
      "name": "Send a text message1",
      "webhookId": "e8e9edd2-b2f7-4805-8970-1246df4d7ad9",
      "credentials": {
        "telegramApi": {
          "id": "3Sz3nRY9bJX5LoTJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6c872e30-0158-458b-8328-8047e56ee63e",
              "leftValue": "={{$json.score}}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2304,
        336
      ],
      "id": "5243914f-b386-4915-b329-b6e41b8613bb",
      "name": "If1"
    },
    {
      "parameters": {
        "chatId": "7359615703",
        "text": "={{\n`🚀 High Quality Job Application\n\n Candidate: ${$node[\"Gmail Trigger\"].json.from.text}\n\n📊 Score: ${$json.score}/100\n📈 Level: ${$json.level}\n\n Summary:\n${$json.summary.slice(0,350)}...\n`\n}}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2512,
        448
      ],
      "id": "9ec8788b-152d-4a23-8d88-bf063c5161e1",
      "name": "Send a text message2",
      "webhookId": "5b35b6a1-feba-46dc-9ad3-1a18a1ba4aca",
      "credentials": {
        "telegramApi": {
          "id": "3Sz3nRY9bJX5LoTJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "attachment_0",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1504,
        336
      ],
      "id": "517c0657-c7ac-4c2d-aa91-888eeb7af604",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1280,
        336
      ],
      "id": "6b35615c-33a9-4af4-be8f-466a6177d489",
      "name": "Merge1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following resume and give a score out of 100.\n\nAlso return:\n- summary of skills\n- experience level (Beginner / Intermediate / Expert)\n\nReturn ONLY JSON:\n{\n  \"score\": number,\n  \"summary\": \"\",\n  \"level\": \"\"\n}\n\nResume:\n{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1728,
        336
      ],
      "id": "60447b9e-b28b-4a52-9a8e-2152e475e598",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1808,
        560
      ],
      "id": "50347495-b11d-4bd6-962a-357986ee8cdc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "OUtMONv24bmGuPJ1",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $json.text;\n\n// remove ```json or ``` if present\nconst clean = raw.replace(/```json|```/g, \"\").trim();\n\nconst parsed = JSON.parse(clean);\n\nreturn [{\n  json: parsed\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        336
      ],
      "id": "104fa284-4ea1-44b9-8556-e3beb2b1f478",
      "name": "Code in JavaScript3"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Call 'Meeting Automation'",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message1": {
      "main": [
        []
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4a496742-79e9-411b-a787-563fef771315",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cf9d72f36111bb903d1ee974b63baf55a218b453dc6cd0a4bb6955dab1bd41c6"
  },
  "id": "ECW7GkBLcV15I6IV",
  "tags": []
}